body{
    background-color: lightslategray;
    width: fit-content;
    margin: auto;
    height: fit-content;
}
.letter{
    background-color: white;
    padding: 30px;
    border-radius:20px;
    display: inline-block;
}
.content{
    display:inline-flex;
}
.letter-image{
    padding-left: 50px;
}
.div-form{
    max-width: 300px;
}
#button{
    text-align: center;
    padding: 10px;
    background-color: black;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 1rem;
    text-decoration: none;
}
#button:active{
    background-color: hsla(0, 100%, 67%, 0.927);
}
.div-form form{
    display: grid;
}